@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  align-items: center;
  min-height: 100vh;
}
.contact-bg {
  height: 40vh;
  background: #512da8;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: #efefef;
  border-radius: 5px;
}
.line {
  display: flex;
  align-items: center;
}
.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #efefef;
  border-radius: 50%;
}
.text {
  font-family: "Twitter", sans-serif;
  font-weight: 400;
  opacity: 0.9;
}
.contact-bg .text {
  margin: 1.6rem 0;
}
.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span {
  display: block;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #512da8;
}
.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.contact-section .contact form {
  width: 600px;
  text-align: center;
}
form .input-box {
  display: flex;
  justify-content: space-between;
}
.input-box .item {
  width: 48.5%;
}
form .textarea-field .item {
  resize: none;
}
.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #512da8;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  margin: 12px 0;
}
.field .item ::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.field .error-text {
  font-size: 14.5px;
  color: red;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}
.field .error.item {
  border-color: red;
}
.field .error .error-text {
  display: block;
}
form .textarea-field .error-text {
  margin-top: -10px;
}
form button {
  padding: 12px 32px;
  background: #512da8;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #efefef;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 0s;
}
form button:hover {
  /* box-shadow: none; */
  box-shadow: 0 0 5px #512da8;
  transition: all 0.5s ease-in-out;
}

.contact-footer {
  padding: 2rem 0;
  background: #512da8;
}
.contact-footer h3 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.social-links a:hover {
  border-color: #000;
}

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}